#aboutme {
  top: 20%;
  left: -4%;
  float: left;
  position: absolute;
  text-indent: 10%;
  width: 30vw;
  z-index: 30;
}

#prophoto {
  width: 30%;
  height: 30%;
  background-color: #463011;
  position: absolute;
  top: 5vh;
  left: 15vw;
  z-index: 25;
  float: left;
}

#details {
  top: 20%;
  right: 2%;
  float: right;
  position: absolute;
  text-indent: 0%;
  width: 25vw;
  z-index: 30;
}

#aboutpage {
  top: 0%;
  left: 15%;
  z-index: 1;
  width: 80%;
  height: 100%;
  position: fixed;
  background-color:#463011;
}

#profile {
  top: 0%;
  left: 15%;
  z-index: 30;
  width: 80%;
  height: 100%;
  position: fixed;
  background-color:transparent;
}