#bioengpage {
  top: 0%;
  left: 15%;
  z-index: 0;
  width: 80%;
  height: 100%;
  position: fixed;
  background-color:rgb(109, 223, 109);
}

#flower {
  width: 10px;
  /* background-color: rgb(109, 223, 109); */
  position: absolute;
  top: 10vh;
  left: 75%;
  z-index: -1;
  float: left;
}

.bbutton1 {
  position: absolute;
  left: 5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.bbutton2 {
  position: absolute;
  left: 5vw;
  top: 60%;
  transform: translateY(-50%);
  z-index: 10;
}
.bbutton3 {
  position: absolute;
  left: 5vw;
  top: 70%;
  transform: translateY(-50%);
  z-index: 10;
}
.bbutton4 {
  position: absolute;
  left: 5vw;
  top: 80%;
  transform: translateY(-50%);
  z-index: 10;
}

.bbox {
  width: 40%;
  height: 45%;
  background-color: black;
  position: absolute;
  left: 55%;
  top: 65%;
  transform: translate(-50%, -50%);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 10
}